form {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  border: 1px solid rgba(103, 88, 3, 1);
  margin: 3rem 0 5rem 0;
  max-width: 400px;
  border-radius: 5px;
}

.select:not(.is-multiple):not(.is-loading)::after {
  border-color: rgba(103, 88, 3, 1);
}

.button.cta {
  background-color: rgba(103, 88, 3, 1);
}

.error {
  color: red;
  margin: 0.3rem 0 0.3rem 0;
  padding: 0.5rem;
}

fieldset {
  padding-left: 0;
  padding-right: 0;
}
