fieldset {
  border: 1px solid rgb(186, 169, 73);
  margin-bottom: 1rem;
  padding: 0.3rem;
}

.btn-margin-r {
  margin-right: 0.3rem;
}

.buttoms {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.7rem;
}

.button.cta-sec {
  color: rgba(103, 88, 3, 1);
}
